*{
    margin: 0;
    font-family: sans-serif;
    border: border-box;
}
/* body */

/* body{
    background-image: url(Netflix-Background-1.webp);
    background-size: cover;
} */
.bgimg{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Netflix-Background-1.webp);
    background-size: cover;
    position: absolute;
    z-index: -1;
}

/* navbar */

.navbar{
    /* width: 1028px; */
    height: 120px;
    /* background-color: black; */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
/* box1 */
.nav-logo{
    height: 40px;
    width: 280px;
    .logo{
        background-image: url("netflix-logo");
        background-size: cover;
        height: 100%;
        width: 148px;
    }
}
/* box2 */
.nav-langsignin{
    width: 590px;
    height: 40px;
    border-radius: 4px;
    border: none;
    /* background-color: white; */
    display: flex;
    justify-content: right;
    .nav-lang{
        width: 122px;
        height: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 4px;
        border: 0.5px solid white;
        background: transparent;
        .lang-icon{
            height: 32px;
            /* width: 10px; */
            display: flex;
            align-items: center;
            border: none;
            border-radius: 4px;
            color: white;
        }
        .lang-select{
            width: 75px;
            height: 32px;
            text-align: center;
            background-color: transparent;
            color: white;
            font-size: 14px;
            font-weight: 700;
            border: none;
            border-radius: 4px;
        }
    }
    a{
        width: 75px;
        height: 32px;
        background-color: red;
        color: white;
        margin-left: 10px;
        border-radius: 4px;
        border: none;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        /* font-size: 14px;
        font-weight: 700; */
        text-align: center;
        .Signinbutton{
            width: 75px;
            height: 32px;
            text-align: center;
            background-color: red;
            color: white;
            border-radius: 4px;
            border: none;
            font-size: 14px;
            font-weight: 700;
        }
    }
}

/* Panel */

.panel{
    padding: 40px;
    height: 540px;
    /* display: block;
    align-items: center;
    text-align: center; */
}

.div1{
    color: white;
    display: block;
    text-align: center;
    h1{
        margin-bottom: 8px;
        font-size: 50px;
    }
    p{
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: 500;
    }
}
.div2{
    color: white;
    text-align: center;
    /* h3{
        margin-bottom: 8px;
    } */
}
.div3{
    padding-top: 13px;
    text-align: center;
    height: 56px;
    border: none;
    border-radius: 4px;
    background: transparent;
    .email{
        background: rgba(255, 255, 255, 0.248);
        border: 0.5px solid black;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        height: 55px;
        width: 330px;
        margin-right: 2.5px;
    }
    .getstarted{
        background-color: red;
        color: white;
        font-size: 16px;
        font-weight: 700;
        height: 56px;
        width: 176px;
        border: none;
        border-radius: 4px;
        margin-left: 2.5px;
    }
}

/* Trending now */

.trending-now{
    background-color: black;
    height: 100px;
    border: none;
    /* border-top: 1.5px solid white; */
    padding: 0 5rem;
}

.trending{
    background-color: black;
    /* width: 868px; */
    height: 1350px;
    padding: 0 5rem;
    h2{
        font-size: 24px;
        height: 28px;
        color: white;
        margin-bottom: 10px;
    }
    .photo{
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        flex-wrap: wrap;
        margin-bottom: 64px;
        .box1{
            width: 150px;
            height: 196px;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 6.4px 22px 6.4px 22px;
            border-radius: 16px;
        }
    }
    
    /* More reasons */

    .more-reasons{
        height: 27px;
        margin-top: 16px;
        background-color: black;
        h2{
        font-size: 24px;
        height: 28px;
        color: white;
        }
    }

    /* Services */

    .services{
        /* width: 900px; */
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 64px;
        .enjoy{
            width: 410px;
            height: 204px;
            color: white;
            background-image: linear-gradient(-75deg, #192043, #1d162b, #210e1b);
            border-radius: 16px;
            padding: 20px 20px 20px 20px;
            h3{
                font-size: 20px;
                font-weight: 700px;
                margin-bottom: 15px;
            }
            p{
                font-size: 18px;
            }
            .tv{
                height: 100px;
                width: 410px;
                text-align: right;
                i{
                    font-size: 100px;
                    padding-top: 25px;
                    /* margin-top: 20px; */
                }
            }
        }
    }

    /* Faq */
    .faq{
        height: 27px;
        margin-top: 16px;
        background-color: black;
        h2{
        font-size: 24px;
        height: 28px;
        color: white;
        }
    }
    .que{
        margin-top: 16px;
        background-color: grey;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        p{
            font-size: 40px;
            color: white;
        }
    }
}

/* Panel 2 */

.panel2{
    /* padding: 40px; */
    height: 200px;
    background-color: black;
    .div2{
        color: white;
        text-align: center;
        background-color: black;
        h3{
            font-size: 24px;
            height: 28px;
            color: white;
        }
    }
    .div3{
        padding-top: 13px;
        text-align: center;
        height: 56px;
        border: none;
        border-radius: 4px;
        padding-bottom: 13px;
        background-color: black;
        .email{
            background: rgba(255, 255, 255, 0.248);
            border: 0.5px solid black;
            border-radius: 4px;
            color: white;
            font-size: 16px;
            font-weight: 700;
            height: 55px;
            width: 330px;
            margin-right: 2.5px;
        }
        .getstarted{
            background-color: red;
            color: white;
            font-size: 16px;
            font-weight: 700;
            height: 56px;
            width: 176px;
            border: none;
            border-radius: 4px;
            margin-left: 2.5px;
        }
    }
}

/* footer */

/* foot */
.foot{
    height: 100%;
    background-color: black;
    .call{
        color: #ffffffb3;
        font-size: 18px;
        font-weight: 500;
        padding: 0 5rem;
    }
    .list{
        color: white;
        height: 230px;
        padding-left: 40px;
        display: flex;
        justify-content: left;
        /* background-color: plum; */
        ul{
            margin-top: 20px;
            text-align: left;
            margin-right: 40px;
            a{
                display: block;
                font-size: 18px;
                font-weight: 500;
                margin-top: 10px;
                color: #ffffffb3;
            }
        }
    }
    .nav-lang{
        width: 122px;
        height: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 4px;
        border: 0.5px solid white;
        background-color: transparent;
        backdrop-filter: blur('10px');
        opacity: 0.7;
        margin: 0 5rem;
        .lang-icon{
            height: 32px;
            /* width: 10px; */
            display: flex;
            align-items: center;
            border: none;
            border-radius: 4px;
            color: white;
        }
        .lang-select{
            width: 75px;
            height: 32px;
            text-align: center;
            background-color: transparent;
            color: white;
            font-size: 14px;
            font-weight: 500;
            border: none;
            border-radius: 4px;
        }
    }
    .netflix{
        color: #ffffffb3;
        font-size: 18px;
        font-weight: 500;
        padding: 0 5rem;
        margin-top: 20px;
    }
}
.panel, .panel2{
    .getstarted:hover{
        border: 0.5px solid white;
    }
}
.Signin:hover{
    border: 0.5px solid white;
}
/* Thank you */

